*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #118b01;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#notes {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 100px;
  background-color: white;
  border: 1px solid black;
}

.white.active {
  background-color: #ccc;
}

.black {
  --width: 60px;
  background-color: black;
  /* left half of black keys inside left white key */
  margin-left: calc(var(--width) / -2);
  /* right half of black keys inside right white key */
  margin-right: calc(var(--width) / -2);
  margin-top: calc(var(--width) / -100);
  z-index: 2;
}

.black.active {
  background-color: #333;
}

.btn {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 17px 30px;
  margin: 10px;
  border: 0;
  background-color: white;
  font-size: 17.5px;
  border: 2px solid transparent;
  border-color: black;
  color: black;
  font-weight: 800;
  line-height: 30px;
  font-family: "Courier New", monospace;
}

.btn:hover {
  background-color: black;
  color: white;
}

.play-button,
.save-button,
.song-link {
  display: none;
}

.play-button.show,
.save-button.show,
.song-link.show {
  display: inline-block;
}

a{
  text-decoration: none;
}